extends layout

block content
    // Hero Header
    .container-xxl.py-5.bg-dark.hero-header.mb-5
        .container.my-5.py-5
            .row.align-items-center.g-5
                .col-lg-6.text-center.text-lg-start
                    h1.display-3.text-white.animated.slideInLeft
                        | Dubbelspeltornooi
                        br
                        | Gent
                    p.text-white.animated.slideInLeft.mb-4.pb-2
                        | Maak je klaar voor het leukste tennisevent van het jaar.
                    a.btn.btn-primary.py-sm-3.px-sm-5.me-3.animated.slideInLeft(href="/schrijf-je-in") Schrijf je in
                .col-lg-6.text-center.text-lg-end.overflow-hidden
                    img.img-fluid(src="/images/tennisball.webp" alt="Tennisbal")

    // Features
    .container-xxl.py-5
        .container
            mixin featureBox(icon, title, text, delay)
                .col-lg-3.col-sm-6.wow.fadeInUp(data-wow-delay=delay)
                    .service-item.rounded.pt-3
                        .p-4
                            i.fa.fa-3x(class=icon).text-primary.mb-4
                            h5= title
                            p= text

            .row.g-4
                +featureBox('fa-map-marker', 'Locatie', 'Vlak aan het stadscentrum van Gent ligt de Blaarmeersen. Een prachtig recreatiedomein met mogelijkheid tot vele sporten.', '0.1s')
                +featureBox('fa-utensils', 'Eten & Drinken', 'Er zullen foodtrucks en een bar aanwezig zijn.', '0.3s')
                +featureBox('fa-users', 'Supporters', 'Iedereen is welkom om hun favoriete team aan te moedigen.', '0.5s')
                +featureBox('fa-shower', 'Voorzieningen', 'Kleedkamers en douches worden voorzien voor de spelers.', '0.7s')

    // About Section
    .container-xxl.py-5
        .container
            .row.g-5.align-items-center
                .col-lg-6
                    .row.g-3
                        .col-6.text-start
                            img.img-fluid.rounded.w-100.wow.zoomIn(data-wow-delay="0.1s" src="/images/tennis1.jpg")
                        .col-6.text-start
                            img.img-fluid.rounded.w-75.wow.zoomIn(data-wow-delay="0.3s" src="/images/tennis2.jpg" style="margin-top: 25%;")
                        .col-6.text-end
                            img.img-fluid.rounded.w-75.wow.zoomIn(data-wow-delay="0.5s" src="/images/tennis3.jpg")
                        .col-6.text-end
                            img.img-fluid.rounded.w-100.wow.zoomIn(data-wow-delay="0.7s" src="/images/tennis4.jpg")
                .col-lg-6
                    h5.section-title.ff-secondary.text-start.text-primary.fw-normal Over ons
                    h1.mb-4 Welkom bij dubbelspel Gent
                    p.mb-4 Elk jaar organiseren wij één van de grootste tennistornooien voor dubbelspel.
                    p.mb-4 Met zowel Belgische als internationale spelers is ons tornooi voor een gevarieerd publiek. Iedereen is welkom, zowel spelers als supporters. Tussen de wedstrijden door kan iets gedronken en gegeten worden en wordt randanimatie voorzien. Allen daarheen dus.

    // games
    .container-xxl.py-5.text-center
        table.table.table-borderless.table-striped.rounded-4.overflow-hidden.shadow-lg#teamsTable
            thead
                tr.p-0.table-warning
                    th Team 1
                    th Team 2
                    th Score
            tbody
                .p-0.py-5
                    button.btn.btn-primary#teamNameSort Sorteer op teamnaam
                    button.btn.btn-primary#refresh refresh



    // Facebook Event
    .container-xxl.py-5.text-center
        h5.section-title.ff-secondary.text-primary.fw-normal.mb-4 Facebook Event
        .d-flex.justify-content-center
            .fb-page(
                data-href="https://www.facebook.com/profile.php?id=61584281243243"
                data-tabs="timeline"
                data-width="500"
                data-height="400"
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true"
            )

block append scripts
    // Facebook SDK
    #fb-root
    script(async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_BE/sdk.js#xfbml=1&version=v17.0" nonce="ABC123")

    // Silktide Consent Manager
    script(src="/scripts/silktide-consent-manager.js")
    script(src="/scripts/cookie-config.js")
    script(src="/scripts/matchbracket.js")